<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
    <rules>
        <rule name="rule1V" stopProcessing="true">
	       <match url="api/v1/(.*)$"  ignoreCase="true" />
	       <action type="Rewrite" url="/api/process.php?request={R:1}"  appendQueryString="true" />
        </rule>
    </rules>
    </rewrite>
  </system.webServer>
</configuration>
